<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Flow Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/visha/IdeaProjects/AI_Coach_Prod">
        <classes>
<!--            <class name="CreateUser">-->
<!--                <methods>-->
<!--                    <include name="CreateAccount_POST"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="Mainflow">
                <methods>
                    <include name="LoginUser_POST"/>
                    <include name="GetLanguageList_GET"/>
                    <include name="LanguageUpdate_PUT"/>
                    <include name="Language_GET"/>
                    <include name="UserPhoneDetails_GET"/>
                    <include name="GetRepositoryDetails_GET"/>
                    <include name="GetPersonaDetails_GET"/>
                    <include name="ChatWithPersona_POST"/>
                    <include name="GetFeedback_POST"/>
                    <include name="GetVideoDuration_GET"/>
                    <include name="ForgotPassword_POST"/>
                    <include name="UserLogout_POST"/>
                </methods>
            </class>
<!--            <class name="changePassword">-->
<!--                <methods>-->
<!--                    <include name="LoginUser_POST"/>-->
<!--                    <include name="ChangePassword_POST"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="DeleteUser">-->
<!--                <methods>-->
<!--                    <include name="LoginUser_POST"/>-->
<!--                    <include name="DeleteUserAccount_DELETE"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
    </test>
</suite>